body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.todo-container {
    background: #5a9cf3;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1{
    color: #070000;
    text-align: center;
}
h2 {
    color: #0a0000;
    text-align: left;
    margin-top: 40px;
}

.input-section {
    display: flex;
    margin-bottom: 20px;
    
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


#addTaskBtn {
    padding: 10px 20px;
    margin-left: 5px;
    border: none;
    background-color: #013b0f;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.finish-btn {
    background-color: #007bff;
    color: white;
}

.remove-btn {
    background-color: #dc3545;
    color: white;
}

button:hover {
    opacity: 0.8;
}